@using CemSys2.ViewModel
@model IntroduccionIndexVM
@{
    ViewData["Title"] = "Introducciones";
}
<h1 class="tituloDePagina">Introducciones</h1>


@* Mostrar mensajes de éxito (desde TempData después de una redirección) *@
@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @TempData["MensajeExito"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@* Mostrar mensajes de error genéricos (si los pones en model.MensajeError) *@
@if (!string.IsNullOrEmpty(Model.MensajeError))
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @Model.MensajeError
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<form asp-action="IntroduccionDifunto" asp-controller="Introduccion" method="get">
    <div style="display: flex; justify-content: center;">
        <input type="submit" class="btn btn-success" value="+ Introducir difunto" />
    </div>
</form>



<!-- formulario -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Buscador
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            @* cuerpo del acordion *@
            <div class="accordion-body">
                <form asp-action="Index" method="get">
                    <div class="text-center p-3">
                        <label>Desde</label>
                        <input type="date" class="form-control-sm me-2" name="desdeFecha" value="@Context.Request.Query["desdeFecha"]" />

                        <label>Hasta</label>
                        <input type="date" class="form-control-sm me-2" name="hastaFecha" value="@Context.Request.Query["hastaFecha"]" />
                    </div>

                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-success me-2" id="btnBuscar">Buscar</button>
                        <a asp-action="Index" asp-controller="Introduccion" class="btn btn-primary" id="btnLimpiar">Limpiar filtros</a>
                    </div>
                </form>
            </div>
            @* Fin cuerpo del acordeon *@
        </div>
    </div>
</div>

<!-- Tabla -->

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Introducciones Registradas
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            @* cuerpo del acordion *@
            @if (Model.ListaIntroducciones.Count != 0)
            {
                <div class="card shadow-sm">
                    <div class="card-body p-0">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>#</th>
                                    <th>Fecha</th>
                                    <th>Difunto</th>
                                    <th>Sección</th>
                                    <th>Parcela</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var opc in Model.ListaIntroducciones)
                                {
                                    string parcela = "";
                                    if (opc.Parcela.SeccionNavigation.TipoParcela == 1) //nicho
                                    {
                                        parcela = $"Nicho {opc.Parcela.NroParcela.ToString()} Fila {opc.Parcela.NroFila.ToString()}";
                                    }
                                    else if (opc.Parcela.SeccionNavigation.TipoParcela == 2)//fosa
                                    {
                                        parcela = $"Fosa {opc.Parcela.NroParcela.ToString()}";
                                    }
                                    else if (opc.Parcela.SeccionNavigation.TipoParcela == 3) //panteon
                                    {
                                        parcela = $"Lote {opc.Parcela.NroParcela.ToString()}";
                                    }

                                    <tr>
                                        <td>@opc.IdTramite</td>
                                        <td>@(opc.FechaIngreso.HasValue ? opc.FechaIngreso.Value.ToString("dd/MM/yyyy HH:mm") : "N/A")</td>
                                        <td>@opc.Difunto.Apellido.ToUpper() @opc.Difunto.Nombre.ToUpper()</td>
                                        <td>@opc.Parcela.SeccionNavigation.Nombre.ToUpper()</td>
                                        <td>@parcela</td>
                                        <td>
                                            <form asp-action="ResumenIntroduccion" method="get" style="display: inline-block;" target="_blank">
                                                <input type="hidden" name="tramiteId" value="@opc.IdTramite" />
                                                <button type="submit" class="btn-modificar btn-sm" title="ver resumen">
                                                    <i class="bi bi-eye"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>
                                    
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                @* Paginador *@
                @if (Model.TotalPaginas > 1)
                {
                    @await Html.PartialAsync("_Paginador", new PaginadorViewModel
                    {
                        PaginaActual = Model.PaginaActual,
                        TotalPaginas = Model.TotalPaginas,
                        TotalRegistros = Model.TotalRegistros,
                        Accion = "Index",
                        Controlador = "Introduccion"
                    })
                }

            }
            @* Fin cuerpo del acordeon *@
        </div>
    </div>
</div>


@* Modal de confirmación *@
@await Html.PartialAsync("_ModalConfirmacionEliminacion")



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}