@using CemSys2.ViewModel
@model IntroduccionDifuntoVM
@{
    string fecha = DateOnly.FromDateTime(DateTime.Now).ToString("yyyy-MM-dd");
    DateOnly fechaActual = DateOnly.FromDateTime(DateTime.Now);
}
<a asp-action="Index" asp-controller="Introduccion" class="btn-volver"><i class="bi bi-arrow-left"></i></a>
<h1 class="tituloDePagina">Introducción de difunto</h1>

@* Mostrar mensajes de éxito (desde TempData después de una redirección) *@
@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @TempData["MensajeExito"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@* Mostrar mensajes de error genéricos (si los pones en model.MensajeError) *@
@if (!string.IsNullOrEmpty(Model.MensajeError))
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @Model.MensajeError
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<!-- Formulario datos del difunto-->
<div class="accordion" id="accordionDatosDifunto">
    @* ID único para el acordeón principal *@
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsDatosDifunto-headingOne">
            <button class="accordion-button nueva-seccion" type="button" data-bs-toggle="collapse" data-bs-target="#panelsDatosDifunto-collapseOne" aria-expanded="false" aria-controls="panelsDatosDifunto-collapseOne">
                Datos del difunto
            </button>
        </h2>
        <div id="panelsDatosDifunto-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsDatosDifunto-headingOne" data-bs-parent="#accordionDatosDifunto">
            @* Agregado data-bs-parent y 'show' para que inicie abierto si lo deseas *@
            <div class="accordion-body">
                <form id="" class="form-box">
                    <div>
                        <label class="form-label">N.N</label>
                        <input class="" type="checkbox" asp-for="NN" />
                    </div>
                    
                    <div class="form-columns-container3">

                        <div>
                            <label for="dni">DNI<span class="obligatorio"> * </span></label>
                            <input class="form-control" type="text" asp-for="Dni" pattern="[0-9]+" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                            <span asp-validation-for="Dni" class="text-danger"></span>
                        </div>

                        <div>
                            <label for="nombreDifunto">Nombre<span class="obligatorio"> * </span></label>
                            <input class="form-control" type="text" asp-for="Nombre" maxlength="60" minlength="2" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div>
                            <label for="apellidoDifunto">Apellido<span class="obligatorio"> * </span></label>
                            <input class="form-control" type="text" asp-for="Apellido" required maxlength="60" minlength="2" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>

                        <div>
                            <label for="fechaDefuncion">Defunción<span class="obligatorio"> * </span></label>
                            <input class="form-control" type="date" asp-for="FechaDefuncion" max="@fecha" required />
                            <span asp-validation-for="FechaDefuncion" class="text-danger"></span>
                        </div>

                        <div>
                            <label for="fechaNacimiento">Nacimiento</label>
                            <input class="form-control" type="date" asp-for="FechaNacimiento" max="@fecha" />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>

                        <div>
                            <label for="sexoDifunto">Sexo<span class="obligatorio"> * </span></label>
                            <select class="form-select" asp-for="Sexo" required>
                                <option value="">--Elija una opción--</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                                <option value="otro">Otro</option>
                            </select>
                            <span asp-validation-for="Sexo" class="text-danger"></span>
                        </div>

                        <div>
                            <label>Estado del difunto<span class="obligatorio"> * </span></label>
                            <select class="form-select" asp-for="EstadoDifuntoId" asp-items="@(new SelectList(Model.ListaEstadoDifunto, "Id", "Estado"))" required>
                                <option value="">--Elija una opción--</option>
                            </select>
                        </div>
                    </div>

                    

                    <h5>Datos acta de defunción</h5>
                    <div class="form-columns-container5">
                        <div>
                            <label for="acta">Acta</label>
                            <input type="number" class="form-control" asp-for="ActaDefuncion.Acta" min="1" />        
                        </div>
                        <div>
                            <label>Tomo</label>
                            <input type="number" class="form-control" asp-for="ActaDefuncion.Tomo" min="1" />
                        </div>
                        <div>
                            <label>Folio</label>
                            <input type="number" class="form-control" asp-for="ActaDefuncion.Folio" min="1" />
                        </div>
                        <div>
                            <label>Serie</label>
                            <input type="text" class="form-control" asp-for="ActaDefuncion.Serie" min="1" />
                        </div>
                        <div>
                            <label>Año</label>
                            <input type="number" class="form-control" asp-for="ActaDefuncion.Age" min="1800" max="@fechaActual.Year" />
                        </div>
                    </div>
                    <!-- Datos adicionales -->
                    <div class="full-width">
                        <label for="datosAdicionales">Datos adicionales</label>
                        <textarea class="form-control" asp-for="InformacionAdicional"></textarea>
                    </div>

                    <!--Preguntas-->
                    <div class="full-width">
                        <h6>¿El difunto tenía domicilio en Colonia Tirolesa?<span class="obligatorio"> * </span></h6>
                        <div>
                            <label for="domicilioSi">Si</label>
                            <input type="radio" asp-for="DomicilioEnTirolesa" value="true" id="domicilioSi" class="inputFormularioEnLinea" />
                            
                            <label for="domicilioNo">No</label>
                            <input type="radio" asp-for="DomicilioEnTirolesa" value="false" id="domicilioNo" class="inputFormularioEnLinea" />                            
                        </div>
                        <span asp-validation-for="DomicilioEnTirolesa" class="text-danger"></span>
                    </div>

                    <div class="full-width">
                        <h6>¿El difunto falleció en Colonia Tirolesa?<span class="obligatorio"> * </span></h6>
                        <div>
                            <label for="falelcioSi">si</label>
                            <input type="radio" asp-for="FallecioEnTirolesa" value="true" id="falelcioSi" class="inputFormularioEnLinea" />

                            <label for="fallecioNo">no</label>
                            <input type="radio" asp-for="FallecioEnTirolesa" value="false" id="fallecioNo" class="inputFormularioEnLinea" />
                        </div>
                        <span asp-validation-for="FallecioEnTirolesa" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>





<!-- Formulario Ubicación-->
<div class="accordion" id="accordionUbicacion">
    @* ID único para el acordeón principal *@
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsUbicacion-headingOne">
            <button class="accordion-button nueva-seccion" type="button" data-bs-toggle="collapse" data-bs-target="#panelsUbicacion-collapseOne" aria-expanded="false" aria-controls="panelsUbicacion-collapseOne">
                Ubicación
            </button>
        </h2>
        <div id="panelsUbicacion-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsUbicacion-headingOne" data-bs-parent="#accordionUbicacion">
            @* Agregado data-bs-parent y 'show' para que inicie abierto si lo deseas *@
            <div class="accordion-body">
                <form id="" class="form-box">
                    <!--parcelas-->
                    <div class="form-columns-container3">
                        <div>
                            <label>Tipo de parcela</label>
                            <select id="tipoParcelaSelect" class="form-select" asp-for="TipoParcelaID" asp-items="@(new SelectList(Model.ListaTipoParcela, "Id", "TipoParcela1"))" required>
                                <option value="">--Elija una opción--</option>
                            </select>
                            <span asp-validation-for="TipoParcelaID" class="text-danger"></span>

                        </div>

                        <div>
                            <label>Sección<span class="obligatorio"> * </span></label>
                            <select id="seccionSelect" class="form-select" asp-for="SeccionID" asp-items="@(new SelectList(Model.ListaSecciones, "Id", "Nombre"))" required>
                                <option value="">--Elija una opción--</option>
                            </select>
                            <span asp-validation-for="SeccionID" class="text-danger"></span>

                        </div>

                        <div>
                            <label>Parcela<span class="obligatorio"> * </span></label>
                            <select id="parcelaSelect" class="form-select" asp-for="ParcelaID" asp-items="@(new SelectList(Model.ListaParcelas, "Id", "NroParcela"))" required>
                                <option value="">--Elija una opción--</option>
                            </select>
                        </div>
                        <span asp-validation-for="ParcelaID" class="text-danger"></span>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script> //logica de select ubicacion

        document.addEventListener('DOMContentLoaded', function() {

            const tipoParcelaSelect = document.getElementById('tipoParcelaSelect');
            const seccionSelect = document.getElementById('seccionSelect');
            const parcelaSelect = document.getElementById('parcelaSelect');

            //selecciona las secciones
            tipoParcelaSelect.addEventListener('change', async function() {
                const tipoParcelaId = this.value;

                // Limpiar selects
                seccionSelect.innerHTML = '<option value="">--Elija una opción--</option>';
                parcelaSelect.innerHTML = '<option value="">--Elija una opción--</option>';

                if (tipoParcelaId) {
                    const response = await fetch(`/Introduccion/ObtenerSeccionesPorTipo?tipoParcelaId=${tipoParcelaId}`);
                    const secciones = await response.json();

                    secciones.forEach(seccion => {
                        const option = document.createElement('option');
                        option.value = seccion.id;
                        option.textContent = seccion.nombre.toUpperCase();
                        seccionSelect.appendChild(option);
                    });
                }
            });

            //selecciona las parcelas
            seccionSelect.addEventListener('change', async function() {
                const seccionId = this.value;
                const tipoParcelaId = tipoParcelaSelect.value; // ← corrección clave

                // Limpiar parcelas
                parcelaSelect.innerHTML = '<option value="">--Elija una opción--</option>';

                if (seccionId) {
                    const response = await fetch(`/Introduccion/ObtenerParcelasPorSeccion?seccionId=${seccionId}`);
                    const parcelas = await response.json();

                    parcelas.forEach(parcela => {
                        const option = document.createElement('option');
                        option.value = parcela.id;

                        if(tipoParcelaId == 1){
                            option.textContent = `Nicho ${parcela.nroParcela} Fila ${parcela.nroFila}`;
                        }else if(tipoParcelaId == 2){
                            option.textContent = `Fosa ${parcela.nroParcela}`;
                        }else if(tipoParcelaId == 3){
                            option.textContent = `Lote ${parcela.nroParcela}`;
                        }
                        
                        parcelaSelect.appendChild(option);

                    });
                }
            });

        });
    </script>

}

