@using CemSys2.ViewModel
@using CemSys2.Enumerable
@model ResumenIntroduccionVM


@{
    ViewData["Title"] = "Resumen introducción";
    int tipoConceptosTarifariaId_Contribucion = 2;
    int tipoConceptosTarifariaId_RegistroCivil = 5;
    int tipoConceptosTarifariaId_DerechoDeOficina = 6;
    int tipoConceptosTarifariaId_Generales = 1;
    decimal porcentajeFondo = 0.05m; // 5% del fondo
    decimal montoMinimoDeFondo = 500m;

}

<a asp-action="Index" asp-controller="Introduccion" class="btn-volver"><i class="bi bi-arrow-left"></i></a>
<div class="d-flex justify-content-center align-items-center">
    <div>
        <h1 class="tituloDePagina">Resumen de la introducción</h1>
    </div>

    <!--Btn descargar PDF-->
    <div class="contenedor-btn-descargar">
        <form asp-action="ResumenIntroduccionEnPDF" asp-controller="introduccion" method="get">
            <input type="hidden" name="idTramite" value="@Model.ResumenIntroduccion.FirstOrDefault()?.Id.ToString()" />
            <button type="submit" class="btn-pdf">
                <i class="bi bi-file-earmark-pdf"></i> PDF
            </button>
        </form>

    </div>
</div>


<style>
    .titulo-principal {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    }
</style>
@* Mostrar mensajes de éxito (desde TempData después de una redirección) *@
@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" style="max-width: 800px;" role="alert">
        @TempData["MensajeExito"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@* Mostrar mensajes de error genéricos (si los pones en model.MensajeError) *@
@if (!string.IsNullOrEmpty(Model.MensajeError))
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" style="max-width: 800px;" role="alert">
        @Model.MensajeError
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="contenedor-resumen">

    <form asp-action="ResumenIntroduccionEnPDF" asp-controller="Introduccion" method="get">
        @* Contenido del formulario *@

        <input type="hidden" name="idTramite" value="@Model.ResumenIntroduccion.FirstOrDefault()?.Id.ToString()" />
    </form>

    @{
        int nroTramite = 0;
        string dni = "";
        string nombreCompleto = "";
        string fechaDefuncion = "";
        string fechaNacimiento = "";
        string actaDefuncion = "";
        string tomo = "";
        string folio = "";
        string serie = "";
        string age = "";
        string estadoDifunto = "";
        string empresa = "";
        string usuario = "";
        string seccion = "";
        string ubicacion = "";
        string fechaIngreso = "";
        string datosAdicionales = "";
        string domicilioEnTiorlesa = "";
        string fallecioEnTirolesa = "";
        int estadoTramite = 0;
        int cantidadDifuntos = 0;
        string estadoTramiteString = "";
    }

    @foreach (var tramite in Model.ResumenIntroduccion)
    {
        nroTramite = tramite.Id;
        estadoTramite = tramite.estadoTramite;
        cantidadDifuntos = tramite.CantidadDifuntos;

        dni = (tramite.dni == "nn") ? "--------" : tramite.dni;
        nombreCompleto = $"{tramite.Apellido.ToUpper()} {tramite.Nombre?.ToUpper()}";
        seccion = tramite.Seccion.ToUpper();
        if(tramite.TipoParcela == 1)
        {
            ubicacion = $"Nicho {tramite.NroParcela} Fila {tramite.NroFila}";
        }else if(tramite.TipoParcela == 2)
        {
            ubicacion = $"Fosa {tramite.NroParcela}";
        }else if (tramite.TipoParcela == 3)
        {
            ubicacion = $"Lote {tramite.NroParcela}";
        }

        fechaIngreso = tramite.FechaIngreso.ToString("dd/MM/yyyy HH:mm");
        fechaDefuncion = tramite.FechaDefuncion.ToString("dd/MM/yyyy");
        fechaNacimiento = (tramite.FechaNacimiento != null) ? tramite.FechaNacimiento?.ToString("dd/MM/yyyy") : "--------";
        actaDefuncion = (tramite.Acta != null) ? tramite.Acta.ToString() : "";
        tomo = (tramite.Tomo != null) ? tramite.Tomo.ToString() : "";
        folio = (tramite.Folio != null) ? tramite.Folio.ToString() : "";
        serie = (tramite.Serie != null) ? tramite.Serie : "";
        age = (tramite.Age != null) ? tramite.Age.ToString() : "";
        estadoDifunto = tramite.EstadoDifunto;
        empresa = tramite.Empresa;
        usuario = tramite.Empleado;
        datosAdicionales = (tramite.InformacionAdicional != null) ?tramite.InformacionAdicional : "";

        domicilioEnTiorlesa = (tramite.DomicilioEnTirolesa) ? "Sí, tenia domicilio en Tirolesa" : "No tenia domicilio en Tirolesa";
        fallecioEnTirolesa = (tramite.FallecioEnTirolesa) ? "Sí, falleció en Tirolesa" : "No falleció en Tirolesa";
        if (Enum.IsDefined(typeof(EstadosIntroduccion), estadoTramite))
        {
            estadoTramiteString = ((EstadosIntroduccion) estadoTramite).ToString();
        }

    }

    

    <div class="d-flex align-items-center justify-content-between">
        <h2 class="nroTramite">Trámite @nroTramite</h2>
        <h3><strong>Estado: <span class="estadoTramite">@estadoTramiteString</span></strong></h3>
    </div>
    
    <p><strong>Ingreso:</strong> @fechaIngreso</p>
    <p><strong>Empresa:</strong> @empresa.ToUpper()</p>

    <div class="separador"></div>

    <p><strong>DNI:</strong> @dni</p>
    <p><strong>Apellido y nombre:</strong> @nombreCompleto</p>
    <p><strong>Fecha nacimiento:</strong> @fechaNacimiento</p>
    <p><strong>Fecha defunción:</strong> @fechaDefuncion</p>
    <p><strong>Estado del difunto:</strong> @estadoDifunto</p>
    <p><strong>Datos adicionales:</strong> @datosAdicionales</p>

    <div class="separador"></div>

    <p><strong>Acta:</strong> @actaDefuncion</p>
    <p><strong>Tomo:</strong> @tomo</p>
    <p><strong>Folio:</strong> @folio</p>
    <p><strong>Serie:</strong> @serie</p>
    <p><strong>Año:</strong> @age</p>

    <div class="separador"></div>

    <p><strong>Empleado responsable:</strong> @usuario.ToUpper()</p>
    <p><strong>Sección:</strong> @seccion.ToUpper()</p>
    <p><strong>Parcela:</strong> @ubicacion</p>

    <div class="separador"></div>
    <p><strong>¿El difunto tenía domicilio en Colonia Tirolesa?</strong></p>
    <p>@domicilioEnTiorlesa</p>
    <p><strong>¿El difunto falleció en Colonia Tirolesa?</strong></p>
    <p>@fallecioEnTirolesa</p>

</div>
<!--Info adicional-->
<div class="contenedor-resumen my-2">
    <form asp-action="ActualizarInfoAdicionalTramite" method="post">
        <div class="full-width">
            <label><b>Información adicional del trámite</b></label>
            <textarea id="textareaInfoAdicional" style="overflow:hidden;"
                      class="form-control" asp-for="@Model.infoAdicional"></textarea>
        </div>
        @if (estadoTramite != (int)EstadosIntroduccion.Finalizado)
        {
            <div class="my-1">
                <input type="hidden" asp-for="IdTramite" value="@nroTramite" />
                <input type="submit" id="btnActualizar" class="btn btn-success" value="Actualizar" disabled />
            </div>
        }
        
    </form>
    
</div>



<!-- Apertura -->
@if(Model.ListaConceptosFactura.Where(c => c.TipoConceptoFacturaId == tipoConceptosTarifariaId_Generales).Any())
{
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item acordeon-fijo-chico">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button nueva-seccion acordeon-fijo acordeon-fijo-chico" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    Apertura de nicho
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    @* cuerpo del acordion *@
                    @if (Model.ListaConceptosFactura.Any())
                    {
                        <div class="card shadow-sm">
                            <div class="card-body p-0">
                                <table class="table table-hover mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Concepto</th>
                                            <th>Precio</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            decimal totalConceptosSinFondo = Model.ListaConceptosFactura.Where(x => x.TipoConceptoFacturaId == tipoConceptosTarifariaId_Generales)
                                            .Sum(r => r.PrecioUnitario);

                                            decimal fondoAyuda = ((totalConceptosSinFondo * porcentajeFondo) < montoMinimoDeFondo) ? montoMinimoDeFondo : totalConceptosSinFondo * porcentajeFondo;


                                            decimal subtotal = Model.ListaConceptosFactura.Where(x => x.TipoConceptoFacturaId == tipoConceptosTarifariaId_Generales)
                                            .Sum(r => r.PrecioUnitario) + fondoAyuda;
                                        }
                                        @foreach (var opc in Model.ListaConceptosFactura)
                                        {
                                            if (opc.TipoConceptoFacturaId == tipoConceptosTarifariaId_Generales)
                                            {
                                                <tr>
                                                    <td>@opc.ConceptoTarifaria.Nombre.ToUpper()</td>
                                                    <td>$ @String.Format("{0:N2}", opc.PrecioUnitario)</td>
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td>FONDO DE AYUDA CENTRO DE SALUD</td>
                                            <td>$ @String.Format("{0:N2}", fondoAyuda)</td>
                                        </tr>
                                        <tr class="subtotalFactura">
                                            <td><b>SUBTOTAL</b></td>
                                            <td><b>$ @String.Format("{0:N2}", subtotal)</b> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    @* Fin cuerpo del acordeon *@
                </div>
            </div>
        </div>
    </div>
}

<!-- Contribucion -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item acordeon-fijo-chico">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo acordeon-fijo-chico" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Contribución
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                @* cuerpo del acordion *@
                @if (Model.ListaConceptosFactura.Any())
            {
                <div class="card shadow-sm">
                    <div class="card-body p-0">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>Concepto</th>
                                    <th>Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                    @{
                                        decimal totalConceptosSinFondo = Model.ListaConceptosFactura.Where(x => x.TipoConceptoFacturaId == tipoConceptosTarifariaId_Contribucion)
                                        .Sum(r => r.PrecioUnitario);

                                        decimal fondoAyuda = ((totalConceptosSinFondo * porcentajeFondo) < montoMinimoDeFondo) ? montoMinimoDeFondo : totalConceptosSinFondo * porcentajeFondo;


                                        decimal subtotal = Model.ListaConceptosFactura.Where(x => x.TipoConceptoFacturaId == tipoConceptosTarifariaId_Contribucion)
                                        .Sum(r => r.PrecioUnitario) + fondoAyuda;
                                    }
                                @foreach (var opc in Model.ListaConceptosFactura)
                                {   
                                    if (opc.TipoConceptoFacturaId == tipoConceptosTarifariaId_Contribucion)
                                    {
                                        <tr>
                                            <td>@opc.ConceptoTarifaria.Nombre.ToUpper()</td>
                                            <td>$ @String.Format("{0:N2}", opc.PrecioUnitario)</td>
                                        </tr>   
                                    }
                                }
                                <tr>
                                    <td>FONDO DE AYUDA CENTRO DE SALUD</td>
                                    <td>$ @String.Format("{0:N2}", fondoAyuda)</td>
                                </tr>
                                    <tr class="subtotalFactura">
                                    <td><b>SUBTOTAL</b></td>
                                    <td><b>$ @String.Format("{0:N2}", subtotal)</b> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
             }
                @* Fin cuerpo del acordeon *@
            </div>
        </div>
    </div>
</div>

<!-- Registro Civil -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item acordeon-fijo-chico">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo acordeon-fijo-chico" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Registro Civil
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                @* cuerpo del acordion *@
                @if (Model.ListaConceptosFactura.Any())
                {
                    <div class="card shadow-sm">
                        <div class="card-body p-0">
                            <table class="table table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        decimal totalConceptosSinFondo = Model.ListaConceptosFactura.Where(x => x.TipoConceptoFacturaId == tipoConceptosTarifariaId_RegistroCivil)
                                        .Sum(r => r.PrecioUnitario);

                                        decimal fondoAyuda = ((totalConceptosSinFondo * porcentajeFondo) < montoMinimoDeFondo) ? montoMinimoDeFondo : totalConceptosSinFondo * porcentajeFondo;

                                        decimal subtotal = Model.ListaConceptosFactura.Where(x => x.TipoConceptoFacturaId == tipoConceptosTarifariaId_RegistroCivil)
                                        .Sum(r => r.PrecioUnitario) + fondoAyuda;
                                    }
                                    @foreach (var opc in Model.ListaConceptosFactura)
                                    {
                                        if (opc.TipoConceptoFacturaId == tipoConceptosTarifariaId_RegistroCivil)
                                        {
                                            <tr>
                                                <td>@opc.ConceptoTarifaria.Nombre.ToUpper()</td>
                                                <td>$ @String.Format("{0:N2}", opc.PrecioUnitario)</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td>FONDO DE AYUDA CENTRO DE SALUD</td>
                                        <td>$ @String.Format("{0:N2}", fondoAyuda)</td>
                                    </tr>
                                    <tr class="subtotalFactura">
                                        <td><b>SUBTOTAL</b></td>
                                        <td><b>$ @String.Format("{0:N2}", subtotal)</b> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                @* Fin cuerpo del acordeon *@
            </div>
        </div>
    </div>
</div>

<!-- Derecho de Oficina -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item acordeon-fijo-chico">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo acordeon-fijo-chico" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Derecho de Oficina
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                @* cuerpo del acordion *@
                @if (Model.ListaConceptosFactura.Any())
                {
                    <div class="card shadow-sm">
                        <div class="card-body p-0">
                            <table class="table table-hover mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        decimal totalConceptosSinFondo = Model.ListaConceptosFactura.Where(x => x.TipoConceptoFacturaId == tipoConceptosTarifariaId_DerechoDeOficina)
                                        .Sum(r => r.PrecioUnitario);

                                        decimal fondoAyuda = ((totalConceptosSinFondo * porcentajeFondo) < montoMinimoDeFondo) ? montoMinimoDeFondo : totalConceptosSinFondo * porcentajeFondo;

                                        decimal subtotal = Model.ListaConceptosFactura.Where(x => x.TipoConceptoFacturaId == tipoConceptosTarifariaId_DerechoDeOficina)
                                        .Sum(r => r.PrecioUnitario) + fondoAyuda;
                                    }
                                    @foreach (var opc in Model.ListaConceptosFactura)
                                    {
                                        if (opc.TipoConceptoFacturaId == tipoConceptosTarifariaId_DerechoDeOficina)
                                        {
                                            <tr>
                                                <td>@opc.ConceptoTarifaria.Nombre.ToUpper()</td>
                                                <td>$ @String.Format("{0:N2}", opc.PrecioUnitario)</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td>FONDO DE AYUDA CENTRO DE SALUD</td>
                                        <td>$ @String.Format("{0:N2}", fondoAyuda)</td>
                                    </tr>
                                    <tr class="subtotalFactura">
                                        <td><b>SUBTOTAL</b></td>
                                        <td><b>$ @String.Format("{0:N2}", subtotal)</b> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                @* Fin cuerpo del acordeon *@
            </div>
        </div>
    </div>
</div>

<!--Fila de Total-->
<table class="table table-hover mb-0 filaTotalFactura">
    <tr class="totalFactura">
        <td><b>TOTAL</b></td>
        <td><b>$ @String.Format("{0:N2}", Model.Factura.Total) </b></td>
    </tr>
</table>



<!-- Recibos -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Recibos
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                @* cuerpo del acordion *@
                <table class="table table-hover mb-0">
                    <tr style="font-size: 1.2rem">
                        <td><b>Pendiente: $ @String.Format("{0:N2}", Model.Factura.Pendiente)</b></td>
                    </tr>
                </table>
                @if (Model.ListaRecibosFactura.Any())
                {
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Concepto</th>
                                <th>Monto</th>
                                <th>Archivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var opc in Model.ListaRecibosFactura)
                            {
                                <tr>
                                    <td>@opc.FechaPago.ToString("dd/MM/yyyy HH:mm")</td>
                                    <td>@opc.Concepto</td>
                                    <td>@opc.Monto.ToString()</td>
                                    <td>Editar - Ver</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                @* Fin cuerpo del acordeon *@
            </div>
        </div>
    </div>
</div>


<!-- formulario nuevo recibo -->
@if (estadoTramite == (int)EstadosIntroduccion.Registrado)
{
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    Nuevo recibo
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    @* cuerpo del acordion *@
                    <form asp-action="CargarRecibo" method="post" id="formRecibo" class="form-box" enctype="multipart/form-data" onsubmit="handleFormSubmit()">
                        <div class="mb-3">
                            <input type="checkbox" asp-for="Decreto" id="decreto" />
                            <label for="decreto">Decreto municipal</label>
                        </div>
                        <div class="form-columns-container3">
                            <div>
                                <label for="conceptoRecibo">Concepto<span class="obligatorio"> * </span></label>
                                <input asp-for="Concepto" id="conceptoRecibo" class="form-control" type="text" maxlength="100" required />
                                <span asp-validation-for="Concepto" class="text-danger"></span>
                            </div>

                            <div>
                                <label for="montoRecibo">Monto<span class="obligatorio"> * </span></label>
                                <input asp-for="Monto" id="montoRecibo" class="form-control" type="number" min="1" max="@Model.Factura.Pendiente" required placeholder="0.00" step="0.01" />
                                <span asp-validation-for="Monto" class="text-danger"></span>
                            </div>
                        </div>

                        <div>
                            <label for="archivoRecibo">Archivo<span class="obligatorio"> * (.png .jpg .pdf)</span></label>
                            <input asp-for="ArchivoRecibo" id="archivoRecibo" class="form-control" type="file" accept=".png,.jpg,.jpeg,.pdf" required/>
                            <span asp-validation-for="ArchivoRecibo" class="text-danger"></span>
                        </div>
                        <div class="my-3">
                            <button type="submit" id="btnCargarRecibo" class="my-3 btn btn-success">
                                <span class="btn-text">Cargar recibo</span>
                                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                <span class="loading-text d-none">Cargando...</span>
                            </button>
                        </div>
                        <input type="hidden" asp-for="IdTramite" value="@nroTramite" />
                        <input type="hidden" asp-for="IdFactura" value="@Model.Factura.Id" />
                    </form>
                    @* Fin cuerpo del acordeon *@
                </div>
            </div>
        </div>
    </div>
}


<!--btn finalizar-->
@if (estadoTramite == (int)EstadosIntroduccion.Cobrado) //solo si es cobrado
{
    <div class="d-flex justify-content-center align-items-center">
        <form asp-action="FinalizarTramite" method="post">
            <input type="hidden" asp-for="IdTramite" value="@nroTramite" />
            <input type="submit" class="btn btn-success" value="Finalizar trámite" />    
        </form>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>//logica de carga de recibo, spiner
        function handleFormSubmit(event) {
            // Primero verificar si el formulario es válido
            const form = document.getElementById('formRecibo');

            // Usar la validación nativa del navegador
            if (!form.checkValidity()) {
                // Si no es válido, mostrar mensajes de validación y detener
                form.reportValidity();
                return false;
            }

            // Si llegamos aquí, la validación pasó
            const btn = document.getElementById('btnCargarRecibo');
            const btnText = btn.querySelector('.btn-text');
            const spinner = btn.querySelector('.spinner-border');
            const loadingText = btn.querySelector('.loading-text');

            // Deshabilitar el botón
            btn.disabled = true;

            // Ocultar texto original y mostrar spinner + texto de carga
            btnText.classList.add('d-none');
            spinner.classList.remove('d-none');
            loadingText.classList.remove('d-none');

            // Permitir que el formulario se envíe
            return true;
        }
    </script>

    <script> //para el textarea

        var estadoFinalizado = @(estadoTramite == (int)EstadosIntroduccion.Finalizado ? "true" : "false");
        
        function ajustarAltura(textarea) {
            textarea.style.height = 'auto';
            textarea.style.height = textarea.scrollHeight + 'px';
        }

        // Función para verificar si hay contenido en el textarea
        function verificarContenido() {
            const textarea = document.getElementById('textareaInfoAdicional');
            const btnActualizar = document.getElementById('btnActualizar');

            if (btnActualizar) { // Solo si el botón existe (estado no es Finalizado)
                btnActualizar.disabled = textarea.value.trim() === '';
            }
        }

        window.addEventListener('DOMContentLoaded', () => {
            const textarea = document.getElementById('textareaInfoAdicional');

            if (estadoFinalizado) {
                textarea.disabled = true;
            } else {
                textarea.addEventListener('input', function() {
                    ajustarAltura(this);
                    verificarContenido();
                });
                ajustarAltura(textarea);
                verificarContenido();
            }
        });
    </script>

}




