@using CemSys2.ViewModel
@model TarifariaInicioVM

<a asp-action="Index" asp-controller="Configuracion" class="btn-volver"><i class="bi bi-arrow-left"></i></a>
@{
    string accion = (Model.EsEdicion ? "Modificar" : "Registrar");
    string redirigir = "Index";
}


<h1 class="tituloDePagina">Tarifarias</h1>



@* Mostrar mensajes de éxito (desde TempData después de una redirección) *@
@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @TempData["MensajeExito"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@* Mostrar mensajes de error genéricos (si los pones en model.MensajeError) *@
@if (!string.IsNullOrEmpty(Model.MensajeError))
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @Model.MensajeError
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}



<!-- formulario -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                @(Model.EsEdicion ? "Modificar tarifaria" : "Nueva tarifaria")
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                @* cuerpo del acordion *@
                <form asp-action="Registrar" method="post" class="form-box">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-columns-container3">
                        <div>
                            <label class="form-label" for="nombre">Nombre</label>
                            <input class="form-control" type="text" asp-for="Nombre" required maxlength="20" id="nombre" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="form-button-registrar">
                            <input type="hidden" asp-for="Redirigir" value="@redirigir" />
                            <input type="hidden" asp-for="EsEdicion" value="@(accion == "Modificar" ? "true" : "false")" />
                            <input class="@(Model.EsEdicion ? "btn-modificar" : "btn-registrar") " type="submit" value="@accion" />
                        </div>
                    </div>
                </form>
                @* Fin cuerpo del acordeon *@
            </div>
        </div>
    </div>
</div>




<!-- Tabla -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Tarifarias registradas
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            @* cuerpo del acordion *@
            @if (Model.ListaTarifarias.Count != 0)
            {
                <div class="card shadow-sm">
                    <div class="card-body p-0">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var opc in Model.ListaTarifarias)
                                {

                                    <tr>
                                        <td>@opc.Nombre.ToUpper()</td>
                                        <td>
                                            <form asp-action="Modificar" method="get" style="display: inline-block;">
                                                <input type="hidden" asp-for="Id" value="@opc.Id" />
                                                <input type="hidden" asp-for="Redirigir" value="@redirigir" />
                                                <button type="submit" class="btn-modificar btn-sm" title="Modificar">
                                                    <i class="bi bi-pencil"></i>
                                                </button>
                                            </form>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            @* Fin cuerpo del acordeon *@
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
