@using CemSys2.ViewModel
@model ParcelasViewModel
@{
    ViewData["Title"] = $"Administrar Nichos {Model.NombreSeccion?.ToUpper()}";
}
<a asp-action="@Model.Redirigir" asp-controller="Secciones" class="btn-volver"><i class="bi bi-arrow-left"></i></a>

<h1 class="tituloDePagina">Administrar nichos de la sección @Model.NombreSeccion?.ToUpper()</h1>

<!-- Tabla -->
@* Mostrar mensajes de error genéricos (si los pones en model.MensajeError) *@
@if (!string.IsNullOrEmpty(Model.MensajeError))
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @Model.MensajeError
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Parcelas Registradas (@Model.TotalRegistros.ToString())
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            @* cuerpo del acordion *@
            @if (Model.Parcelas.Count != 0)
            {
                <div class="card shadow-sm">
                    <div class="card-body p-0">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>Parcela</th>
                                    <th>Tipo Nicho</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var opc in Model.Parcelas)
                                {
                                    if (opc.Visibilidad != false)
                                    {
                                        <tr>
                                            <td>Nicho @opc.NroParcela Fila @opc.NroFila</td>
                                            @foreach (var tipoN in Model.ListaTipoNicho)
                                            {
                                                if (opc.IdTipoNicho == tipoN.Id)
                                                {
                                                    opc.TipoNicho = tipoN.Tipo;
                                                    break;
                                                }
                                            }
                                            <td>@opc.TipoNicho</td>
                                            @{string estado = (@opc.CantidadDifuntos == 0) ? "Desocupado" : $"Ocupado {opc.CantidadDifuntos} difunto/s";}
                                            <td>@estado</td>
                                            <td>
                                                <form asp-action="HistorialParcela" asp-controller="Parcelas" method="get" target="_blank" style="display: inline-block;">
                                                    <input type="hidden" name="parcelaId" value="@opc.Id" />
                                                    <button type="submit" class="btn-modificar btn-sm" title="ver">
                                                        <i class="bi bi-clock-history"></i>
                                                    </button>
                                                </form>
                                            </td>
                                            
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                @* Paginador *@
                @if (Model.TotalPaginas > 1)
                {
                   @await Html.PartialAsync("_Paginador", new PaginadorViewModel
                   {
                       PaginaActual = Model.PaginaActual,
                       TotalPaginas = Model.TotalPaginas,
                       TotalRegistros = Model.TotalRegistros,
                       Accion = "AdministrarNichos",
                       Controlador = "Secciones",
                       ParametrosAdicionales = new Dictionary<string, string>
                       {
                            { "Nombre", Model.NombreSeccion ?? string.Empty },
                            { "Redirigir", Model.Redirigir ?? string.Empty },
                            { "IdSeccion", Model.IdSeccion.ToString() }
                        }
                   })
                }

            }
            @* Fin cuerpo del acordeon *@
        </div>
    </div>
</div>
