@using CemSys2.ViewModel
@model SeccionesFosasViewModel
@{
    ViewData["Title"] = $"Secciones de fosas";
}
<a asp-action="Index" asp-controller="Secciones" class="btn-volver"><i class="bi bi-arrow-left"></i></a>

<h1 class="tituloDePagina">Gestión de Secciones de Fosas</h1>

@* Mostrar mensajes de éxito (desde TempData después de una redirección) *@
@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @TempData["MensajeExito"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@* Mostrar mensajes de error genéricos (si los pones en model.MensajeError) *@
@if (!string.IsNullOrEmpty(Model.MensajeError))
{
    <div class="alert alert-success alert-dismissible fade show alerta-contenedor" role="alert">
        @Model.MensajeError
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


@if (Context.Session.GetInt32("Rol") == 2)
{
    <!-- formulario -->
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                    Nueva sección
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                @* cuerpo del acordion *@
                <div class="accordion-body">
                    <form asp-action="RegistrarSeccionFosa" method="post">
                        <input type="hidden" asp-for="Id" />

                        <div class="form-columns-container3">
                            <div>
                                <label for="nombre" class="form-label">Nombre</label>
                                <input class="form-control" type="text" asp-for="Nombre" required maxlength="50" id="nombre" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>

                            <div>
                                <label for="nroNichos" class="form-label">Cantidad de fosas</label>
                                <input class="form-control" type="number" asp-for="NroParcelas" required id="nroNichos" min="1" />
                                <span asp-validation-for="NroParcelas" class="text-danger"></span>
                            </div>

                            <div class="form-button-registrar">
                                <input type="hidden" asp-for="Redirigir" value="InicioSeccionesFosas" />
                                <input class="btn-registrar" type="submit" value="Registrar" />
                            </div>
                        </div>
                    </form>
                </div>
                @* Fin cuerpo del acordeon *@
            </div>
        </div>
    </div>
}
<!-- Tabla -->
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button nueva-seccion acordeon-fijo" type="button" data-bs-toggle="" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Secciones Registradas
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            @* cuerpo del acordion *@
            @if (Model.Secciones.Count != 0)
            {
                <div class="card shadow-sm">
                    <div class="card-body p-0">
                        <table class="table table-hover mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Fosas</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var opc in Model.Secciones)
                                {
                                    if (opc.Visibilidad != false)
                                    {
                                        <tr>
                                            <td>@opc.Nombre.ToUpper()</td>
                                            <td>@opc.NroParcelas</td>
                                            <td>
                                                <form asp-action="AdministrarFosas" method="get" style="display: inline-block;">
                                                    <input type="hidden" name="IdSeccion" value="@opc.Id.ToString()" />
                                                    <input type="hidden" name="Redirigir" value="InicioSeccionesFosas" />
                                                    <input type="hidden" name="Nombre" value="@opc.Nombre" />
                                                    <button type="submit" class="btn-modificar btn-sm" title="Administrar">
                                                        <i class="bi bi-gear"></i>
                                                    </button>
                                                </form>

                                                <form asp-action="EliminarFosa" method="post" style="display: inline-block;" id="formularioEliminar_@opc.Id">
                                                    <input type="hidden" asp-for="Id" value="@opc.Id" />
                                                    <input type="hidden" asp-for="Redirigir" value="InicioSeccionesFosas" />
                                                    <button type="button" class="btn-eliminar btn-sm" title="Eliminar"
                                                            onclick="confirmarEliminacion('formularioEliminar_@opc.Id', '¿Desea eliminar la sección @opc.Nombre.ToUpper()?')">
                                                        <i class="bi bi-trash"></i>
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                @* Paginador *@
                @if (Model.TotalPaginas > 1)
                {
                    @await Html.PartialAsync("_Paginador", new PaginadorViewModel
                       {
                           PaginaActual = Model.PaginaActual,
                           TotalPaginas = Model.TotalPaginas,
                           TotalRegistros = Model.TotalRegistros,
                           Accion = "InicioSeccionesFosas",
                           Controlador = "Secciones"
                       })
                }

            }
            @* Fin cuerpo del acordeon *@
        </div>
    </div>
</div>


@* Modal de confirmación *@
@await Html.PartialAsync("_ModalConfirmacionEliminacion")



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

